# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Vim
*.swp
*.swo
*~

# Temp files and directories
cache/
log/
tmp/

# Editor configs
.vscode/
.idea/

# Stow conflicts
.stow-local-ignore

# Backup files
*.bak
*.backup
*~

# local files
.env
.local
.local.*

# history files
*_history
*_history.*

**/tmux/plugins
